<!DOCTYPE html>
<html>
<head>
  <title>Dashboard</title>
  <link rel="stylesheet" href="../static/lib/css/bootstrap.min.css">
  <link rel="stylesheet" href="../static/lib/css/keen-dashboards.css">
  <link rel="stylesheet" href="../static/lib/css/dc.min.css">
  <link rel="stylesheet" href="../static/lib/css/leaflet.css">
  <link rel="stylesheet" href="../static/css/custom.css">
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lobster"/>
  <link rel="stylesheet" href="../static/lib/css/bootstrap-select.css">
  <link rel="stylesheet" href="../static/lib/css/jquery-ui.css">

  <script src="../static/lib/js/jquery-2.2.2.min.js" type="text/javascript"></script>
  <script src="../static/lib/js/bootstrap.min.js" type="text/javascript"></script>
  <script src="../static/lib/js/underscore.js" type="text/javascript"></script>
  <script src="../static/lib/js/crossfilter.js" type="text/javascript"></script>
  <script src="https://d3js.org/d3.v5.js" type="text/javascript"></script>
  <script src="../static/lib/js/dc.js" type="text/javascript"></script>
  <script src="../static/lib/js/leaflet.js" type="text/javascript"></script>
  <script src="../static/lib/js/leaflet-heat.js" type="text/javascript"></script>
  <script src="../static/lib/js/leaflet.ajax.min.js"></script>
  <script src="../static/lib/js/bootstrap-select.js"></script>
  <script src="../static/lib/js/jquery-ui.js"></script>

  <style>
    h1, h2, p {
      text-align: center;
    }
    .leaflet-container {
      height: 700px;
      width: 80%;
      margin: 0 auto;
    }
  </style>
  <style>
  #eq > span {
    height:120px; float:left; margin:15px
  }
  </style>
<script>
  $( function() {
    // setup master volume
    $( "#master" ).slider({
      value: 60,
      orientation: "horizontal",
      range: "min",
      animate: true

    });
    // setup graphic EQ
    $( "#eq > span" ).each(function() {
      // read initial values from markup and remove that
      var value = parseInt( $( this ).text(), 10 );
      $( this ).empty().slider({
        value: value,
        range: "min",
        animate: true,
        orientation: "vertical"
      });
    });
  } );
  </script>

</head>
<body class="keen-dashboard">

<h1 style = "font-family: Lobster;  cursive; font-weight: 200; font-size:65px; letter-spacing: 3px;"> 
  Caf'trifier
</h1>

  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-3">
        <div class="chart-wrapper" >
          <div class="chart-title">
            Shape overlay select
          </div>
          <div class="chart-stage">
           <select multiple class = "form-control" id= "zone_class">
              <option value= "{{zone_class[0]}}" selected>{{zone_class[0]}}</option>
              {% for type in zone_class[1:] %}
              <option value= "{{type}}">{{type}}</option>
              {% endfor %}
           </select>
          </div>
        </div>
         <div class="chart-wrapper">
          <div class="chart-title">
            Data overlay select
          </div>
          <div class="chart-stage">
           <select multiple class = "form-control" id= "type_class" size = "12">
              <option value= "{{type_class[0]}}" selected>{{type_class[0]}}</option>
              {% for type in type_class[1:] %}
              <option value= "{{type}}">{{type}}</option>
              {% endfor %}
           </select>
          </div>
        </div>
        
         <div class="chart-wrapper">
          <div class="chart-stage">
                          
              <p class="ui-state-default ui-corner-all ui-helper-clearfix" style="padding:4px;">
                <span class="ui-icon ui-icon-volume-on" style="float:left; margin:-2px 5px 0 0;"></span>
                Prediction time (months in future)
              </p>
               
              <div id="master" style="width:260px; margin:15px;"></div>
               
              <p class="ui-state-default ui-corner-all" style="padding:4px;margin-top:2em;">
                <span class="ui-icon ui-icon-signal" style="float:left; margin:-2px 5px 0 0;"></span>
                Prediction parameters
              </p>
               
              <div id="eq">
                <span>88</span>
                <span>77</span>
                <span>55</span>
                <span>33</span>
                <span>40</span>
                <span>45</span>
                <span>70</span>
              </div>

          </div>
        </div>
      </div> 
        
      <div class="col-sm-9">
        <div class="row">
          <div class="col-sm-12">
            <div class="chart-wrapper">
              <div class="chart-stage">
                <div id="map"></div>
              </div>
            </div>
          </div>
        </div>
        
    </div>

  </div>
  <div class="row">
    <div class="col-sm-3">
        <div class="chart-wrapper">
          <div class="chart-title">
          Cafe count summary
          </div>
          <div class="chart-stage">
           <h4> Current # of cafes: 465 </h4>
           <h4> Predicted # of cafes: 464 </h4>
          </div>
        </div>
      </div>
    <div class="col-sm-3">
        <div class="chart-wrapper" >
          <div class="chart-title">
            Shape overlay select
          </div>
          <div class="chart-stage">
          </div>
        </div>
      </div>
    <div class="col-sm-3">
        <div class="chart-wrapper" >
          <div class="chart-title">
            Shape overlay select
          </div>
          <div class="chart-stage">
          </div>
        </div>
      </div>
    <div class="col-sm-3">
        <div class="chart-wrapper">
          <div class="chart-title">
            Shape overlay select
          </div>
          <div class="chart-stage">
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="container-fluid">
    <p class="small text-muted">Built by Graeme Baird. Template adapted with &#9829; from <a href="https://keen.io">Keen IO</a></p>
  </div>

  <script src='../static/lib/js/d3-queue.js' type="text/javascript"></script>
  <script src='../static/js/graphs.js' type="text/javascript"></script>

</body>
</html>